body {
  background-color: DarkGray;
  background-image: linear-gradient(to bottom, Gainsboro, Ivory);
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.header {
  text-align: center;
  background: #DBF4AD;
  border: 1px solid black;
}

h1 {
  font-family: Tahoma, sans-serif;
  color: Black;
  text-shadow: 2px 2px grey;
}

p {
  color: Black;
}

ul {
  list-style-type: square;
}

ul li {
  margin: 5px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: 1px solid black;
}

td, th {
  border: 1px solid #ddd;
  padding: 0px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;cursor: pointer;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}